<style>
#fondo-merrash {
    background: url('{{ asset("images/11.jpg") }}');
    background-size: cover;
    background-position: center;
    padding-bottom: 16%;
    margin: 0px 10px 10%;
}

@media (max-width: 784px) {
    #fondo-merrash {
        background: none;
    }
}

@media (min-width: 785px) {
    #fondo-merrash {
        background-color: #fbfbfb;
    }
}
</style>
